<table class="table">
<tr>
  <th>city</th>
  <th>b97</th>
  <th>b93</th>
  <th>b90</th>
  <th>b0</th>
</tr>
<% @oils.each do |oil| %>
  <tr>
    <td><%= oil.juhe_city %></td>
    <td><%= oil.b97 %></td>
    <td><%= oil.b93 %></td>
    <td><%= oil.b90 %></td>
    <td><%= oil.b0 %></td>
  </tr>
<% end %>
</table>
